/* header css start */
header {
  min-width: 100%;
}

.header-container .image:first-child {
  margin-bottom: 0;
}

.header-container .image:first-child .cmp-image {
  max-width: 95px;
  width: unset !important;
}

@media screen and (width <=768px) {
  .header-container .image:first-child .cmp-image {
    max-width: 57px;
    height: 32px !important;
  }
}

/* header css end */


/* breadcrumbs css start */
.breadcrumbs {
  padding-top: 48px;
}

.breadcrumbs ol {
  display: flex;
}

.breadcrumbs ol li > a {
  font-size: var(--body-font-size-xxs);
  font-family: elza-medium;
  line-height: 24px;
  font-weight: 500;
  color: var(--dark-grey);
}

.breadcrumbs ol li:not(:last-child) a {
  color: var(--black);
}

.breadcrumbs ol li:not(:last-child) a::after {
  content: "/";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--ashy-blue);
  padding: 0 8px;
}

@media screen and (width <= 768px) {
  .breadcrumbs {
    padding-top: 16px;
  }

  .breadcrumbs ol {
    padding: 0 16px;
  }
}

/* breadcrumbs css end */