/* header css start */
header {
  min-width: 100%;
}

.header-container .image:first-child {
  margin-bottom: 0;
}

.header-container .image:first-child .cmp-image {
  max-width: 95px;
  width: unset !important;
}

.header-container>.cmp-container>.container:nth-child(3)>.cmp-container .button .cmp-button {
  border-radius: unset;
}

.header-container>.cmp-container>.container:nth-child(3)>.cmp-container .button .cmp-button:hover {
  background-color: unset;
}

.footer-container>.cmp-container>.container:nth-child(2)>.cmp-container>.container:nth-child(2) .cmp-button {
  margin: 0;
}

.header-container>.cmp-container>.container:nth-child(2)>.cmp-container>.container:nth-child(2)>.cmp-container .button .cmp-button {
  border-radius: unset;
  color: var(--black);
}

.header-container>.cmp-container>.container:nth-child(2)>.cmp-container>.container:nth-child(2)>.cmp-container .button .cmp-button:hover {
  background-color: unset;
}

/* .header-container>.cmp-container>.container:nth-child(2)>.cmp-container>.container:first-child>.cmp-container>.arbnavigation .cmp-navigation__item--level-0> a{
  color: var(--black);
} */

@media screen and (width <=768px) {
  .header-container .image:first-child .cmp-image {
    max-width: 57px;
    height: 32px !important;
  }
}

/* header css end */


/* breadcrumbs css start */
.breadcrumbs {
  padding-top: 48px;
}

.breadcrumbs ol {
  display: flex;
  margin: 0 16px;
}

.breadcrumbs ol li > a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--dark-grey);
}

.breadcrumbs ol li:not(:last-child) a {
  color: #000;
}

.breadcrumbs ol li:not(:last-child) a::after {
  content: "/";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #9299A8;
  padding: 0 8px;
}

/* breadcrumbs css end */