.hero img {
  object-fit: cover;
}

.hero.hero-img {
  padding-top: 16px;
  height: 344px;
}

.hero.hero-img picture img {
  height: 344px;
}

@media screen and (width <=768px) {
  .section.hero-container:has(.hero.hero-img) {
    margin: 0;
  }

  .hero.hero-img {
    height: 269px;
  }

  .hero.hero-img picture img {
    height: 269px;
    object-fit: unset;
  }
}