.tags.tags-bg-color  {
    margin-top: 32px;
}

.tags.tags-bg-color ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 8px;
}

.tags.tags-bg-color ul li {
    border-radius: 8px;
    background-color: var(--grey);
    padding: 4px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--black);
}