.blog-list.blog-list-wrapper h4 {
    font-size: var(--heading-font-size-l);
    font-family: elza-semibold, sans-serif;
    line-height: 36px;
    font-weight: 600;
    color: var(--black);
    padding-bottom: 24px;
    margin: 0;
    border-bottom: 1px solid #304F6C1A;
}

.blog-list.blog-list-wrapper .blog-card.blog-display-none {
    display: none;
}

.blog-list.blog-list-wrapper .blog-card.blog-display-flex {
    display: flex;
}

.blog-list.blog-list-wrapper .blog-card {
    gap: 32px;
    margin-bottom: 24px;
    padding-top: 24px;
}

.blog-list.blog-list-wrapper .blog-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-list.blog-list-wrapper .blog-card-tags ul {
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.blog-list.blog-list-wrapper .blog-card-tags ul li {
    background-color: var(--grey);
    color: var(--black);
    font-family: elza-regular, sans-serif;
    font-size: var(--body-font-size-xxs);
    line-height: 20px;
    font-weight: 400;
    border-radius: 8px;
    padding: 4px 16px;
}

.blog-list.blog-list-wrapper .blog-card-description h5 {
    font-size: var(--heading-font-size-m);
    font-family: elza-semibold, sans-serif;
    line-height: 28px;
    font-weight: 600;
    color: var(--black);
    margin: 0;
    padding-top: 16px;
}

.blog-list.blog-list-wrapper .blog-card-description p {
    font-size: var(--body-font-size-xs);
    font-family: elza-regular, sans-serif;
    line-height: 24px;
    font-weight: 400;
    color: var(--dark-grey);
    margin: 0;
    padding-top: 16px;
}

.blog-list.blog-list-wrapper .blog-card-btn a {
    font-size: var(--body-font-size-xxs);
    font-family: elza-medium, sans-serif;
    line-height: 20px;
    font-weight: 500;
    color: var(--black);
    padding: 8px 24px;
    border: 1px solid #9299A84D;
    border-radius: 3px;
}

.blog-list.blog-list-wrapper .blog-card-img {
    height: 296px;
    width: 296px;
}

.blog-list.blog-list-wrapper .blog-card-img img {
    max-width: unset;
}

@media screen and (width <= 768px) {
    .blog-list.blog-list-wrapper .blog-card {
        gap: 16px;
    }

    .blog-list.blog-list-wrapper .blog-card.blog-display-flex {
        flex-direction: column;
    }

    .section.width-60 > div:first-child {
        width: 100%;
    }     

    .section.width-40 > div:nth-child(2) {
        width: 100%;
    }

    .blog-list.blog-list-wrapper .blog-card-img,
    .blog-list.blog-list-wrapper .blog-card-img img {
        width: 100%;
        height: 100%;
    }

    .blog-list.blog-list-wrapper .blog-card-btn {
        padding-top: 16px;
    }

    .blog-list.blog-list-wrapper h4 {
        font-size: var(--heading-font-size-s);
        line-height: 24px;
    }

    .blog-list.blog-list-wrapper .blog-card-description h5 {
        font-size: var(--heading-font-size-xs);
        line-height: 20px;
    }
}