.blog-details.blog-title h1 {
    font-size: var(--heading-font-size-xxl);
    line-height: 72px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
}

.blog-details.blog-time p{
    font-size: var(--body-font-size-xs);
    line-height: 24px;
    font-weight: 400;
    color: var(--light-grey);
    padding-top: 12px;
    margin: 0;
    padding-bottom: 32px;
}

.blog-details.blog-heading-primary h3 {
    font-size: var(--heading-font-size-xl);
    line-height: 44px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
    padding-top: 32px;
}

.blog-details.blog-description p,
.blog-details.blog-description p strong {
    font-size: var(--body-font-size-s);
    line-height: 28px;
    font-weight: 400;
    color: var(--dark-grey);
    margin: 0;
    padding-top: 32px;
}

.blog-details.blog-description p strong {
    display: flex;
    align-items: center;
    padding: 0 0 24px;
}

.blog-details.blog-description p em {
    font-style: normal;
}

.blog-details.blog-description p:has(em) {
    padding-bottom: 32px;
}

.blog-details.blog-heading-secondary h4 {
    font-size: var(--heading-font-size-l);
    line-height: 36px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
    padding-top: 32px;
} 

.blog-details.blog-heading-secondary h4 em{
    font-style: normal;
}

.blog-details.blog-heading-secondary h4:has(em) {
    padding-top: 56px;
}

.blog-details.blog-links p a {
    text-decoration: underline;
    color: var(--dark-grey);
    font-weight: 500;
}

.blog-details.blog-image picture img {
    padding-top: 32px;
}

@media screen and (width <= 768px) {
    .section.width-60 > div:first-child {
        width: 100%;
    }
      
    .section.width-40 > div:nth-child(2) {
        width: 100%;
    }
}